---
site: Cute Pet Photos
---
<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body style="background-color:{{color_keyword}} ">
    <h1>{{ site }}</h1>

    {% unless page.url == '/' %}
    	<a href="/">Home</a>
    {% endunless %}
    {{ content }}
    {% unless page.url == '/' %}
        <ul>Photographer Credit
            <ul>
                <li>A {{photo_keyword}} photo by {{photographer_first_name}} {{photographer_last_name}}.</li>
                <li>{{photo_url}}</li>
                {% unless photo_location_name == "" %}
                    <li>
                        Photo taken at {{photo_location_name}}.
                    </li>
                {% endunless %}
            </ul>
        </ul>
    </figure>
    {% endunless %}
    
    <ul>
        {% for photo in collections.photos %}
            <li>
                <a href="{{ photo.url }}">
                    A {{ photo.data.photo_keyword }} photo
                    by {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }}
                </a>
            </li>
        {% endfor %}
    </ul>

</body>
