<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    </head>

    <body>
        <header>
        <b><h1>Cute Pet Photos</h1></b>
        <img src ="/logo.jpeg" alt="Cute Pet Photos">
        <nav>
            
            <b><a href="/">Home</a></b>
            <b><a href="/aboutUs">About Us</a></b>
            <b><a href="https://github.com/ryan-broguiere/cpsc349-project1">Contact</a></b>
    
        </nav>
        </header>

        {{content}}

        <footer>
           
            <f1>
                <b>CS 349 Project 1</b><br>
            </f1>
              
                    
            <f2>
                Photo Credit:
                <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
                    Unsplash.com 
                </a><br>
            </f2>
        
            <f3>
                <a href="https://github.com/ryan-broguiere/cpsc349-project1">
                    Github Link
                </a><br>
            </f3>
        
            <f4>
                <a href="https://unsplash.com/license">
                    Copyright Policy
                </a>
            </f4>
        
        </ul>
        </footer>
    </body>
</html>